// Place all the styles related to the Api::Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer-list-item {
  padding: 10px;
  border: 1px solid #402;
}

#profile-answer-list {
  background: none;
}

#answer-list-title {
  font-size: 24px;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
