.profile-details {
  float:right;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
}

form input, select, option{
  border: 1px solid #a4a4a4;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.details-top{
  margin: 10px;
}

#details-title{
  font-size: 20px;
  color: #402;
}

.detail-item{
  margin: 10px;
}

.detail-field{
  font-size: 18px;
  color: #402;
  padding-bottom: 5px;
}

#details-edit:focus{
  outline: none;
}

#details-edit h3 {
  font-size: 24px;
  color: #402;
  padding-bottom: 5px;
}

.details-form-button {
  font: 18px OpenSans;
  line-height: normal;
  padding: 4px;
  text-decoration: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EC6695), to(#f3b7d5));
  background: -webkit-linear-gradient(top, #f3b7d5, #EC6695);
  background: -moz-linear-gradient(top, #f3b7d5, #EC6695);
  background: -ms-linear-gradient(top, #f3b7d5, #EC6695);
  background: -o-linear-gradient(top, #f3b7d5, #EC6695);
  color: #fed;
  border: 1px #999;
  box-sizing: border-box;
}

.details-form-button:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3b7d5), to(#EC6695));
  background: -webkit-linear-gradient(top, #EC6695, #f3b7d5);
  background: -moz-linear-gradient(top, #EC6695, #f3b7d5);
  background: -ms-linear-gradient(top, #EC6695, #f3b7d5);
  background: -o-linear-gradient(top, #EC6695, #f3b7d5);
}
