// Place all the styles related to the Api::Essays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#essay-list {
  margin: 0;
  padding: 10px;
}

.essay-title {
  font-size: 20px;
  color: #402;
  line-height: 2;
}

.essay textarea {
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}

.essay-edit-button{
  margin-left: 20px;
  font-size: 16px;
  line-height: normal;
  border: none;
  text-decoration: underline;
}

.essay-edit-button:hover{
  color: #21f
}

.essay-body *{
  font-size: 16px;
  line-height: 1.15;
}

.essay-body {
  white-space: pre-wrap;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1.15;
}
