// Place all the styles related to the Api::Filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-filter-button {
  border: none;
  background: none;
  font-size: 100%;
  cursor: pointer;
  color: #402;
  border-bottom: 1px dashed #402;
}

#search-filter-form * {
  font-size: 24px;
}

#search-filter-form {
  position: relative;
}

.filter-wrapper{
  position: relative;
}

.filter-popover{
  position: absolute;
  left: 0;
  top: 40px;
  background: #fafbfd;
}

.filter-popover .content-wrapper{
  display: flex;
  justify-content: space-between;
}

.filter-popover .content-wrapper > *{
  align-self: flex-end;
}

.filter-popover input{
  margin: 5px;
}

.filter-popover span{
  margin: 6px;
}

.filter-popover label{
  margin-right: 10px;
}
.age-filter-input{
  width: 60px;
}
.popover .tail {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fafbfd;
    border: 0px solid #ccd0d9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
