.splash-card{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  visibility: visible;
  -webkit-transition: visibility 0ms linear,opacity 200ms ease 10ms;
  -moz-transition: visibility 0ms linear,opacity 200ms ease 10ms;
  transition: visibility 0ms linear,opacity 200ms ease 10ms;
}

.splash-card-container {
  display:flex;
  justify-content: space-around;

}

#splash {
  width: 880px;
  position: relative;
  background: none;
}

.splash-title {
  font-size: 40px;
  text-align: center;
  color: #402;
  margin: 40px;
}
