// Place all the styles related to the Api::MessageThreads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inbox-pane {
  width: 920px;
  position: relative;
}
.inbox-pane::after{
  content:"";
  display:table;
  clear:both;
}
.inbox-title h2 {
  font-size: 30px;
  color: #402;
  padding: 10px;
  border-bottom: 1px solid #402;
}

.thread-list-wrapper{
  width: 200px;
  float: left;
  position: absolute;
  top: 50px;
  height: 640px;
  padding: 10px;
  background: #fde;
  border-top: 1px solid #402;
}

.thread-list{
  width: 100%;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 100%;
}

.thread-list-item{
  width: 100%;
  height: 80px;
  padding: 5px;
}

.thread-list-item a, .thread-list-item a:hover, .thread-list-item a:focus{
      display: inline;
      text-decoration: none;
      outline: none;
      color: inherit;
}

.thread-list-item.active{
  background-color: #cad;
}

.thread-list-item .photo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.thread-list-item .subject{
  width: 90px;
  display: inline-block;
  padding-bottom: 5px;
}

.thread-list-item .timestamp{
  width:90px;
  display: inline-block;
  padding-bottom: 10px;
  font-size: 12px;
}

.thread-list-item .link-text{
  float: right;
  margin-right: 10px;
  color: #a5a;
}

.thread-list-item .link-text:hover{
  color: #dad;
}
