// Place all the styles related to the Api::Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
  height: 280px;
  position: relative;
}

.profile-pane * {
  background: #fafbfd;
  list-style: none;
}
.profile-header > * {
  float: left;

}

#profile-header-info{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#profile-avatar-wrapper{
  z-index: 1;
  width: 210px;
  height: 210px;
  margin: 20px;
  position: relative;
}

#profile-header-avatar {
  display: block;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin-top: 0px;
}
.profile-pane {
  padding: 20px;
  width: 940px;
  display: block;
  margin: auto;
}

.profile-pane::after{
  content:"";
  display:table;
  clear:both;
}

#profile-avatar-wrapper .upload-button{
  position: absolute;
  left: 50%;
  width: 90px;
  margin-left: -45px;
  z-index: 6;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms ease 0ms,visibility 0ms linear 300ms;
  -moz-transition: opacity 200ms ease 0ms,visibility 0ms linear 300ms;
  transition: opacity 200ms ease 0ms,visibility 0ms linear 300ms;
}

.upload-button {
  font: 18px OpenSans;
  line-height: normal;
  padding: 4px;
  text-decoration: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EC6695), to(#f3b7d5));
  background: -webkit-linear-gradient(top, #f3b7d5, #EC6695);
  background: -moz-linear-gradient(top, #f3b7d5, #EC6695);
  background: -ms-linear-gradient(top, #f3b7d5, #EC6695);
  background: -o-linear-gradient(top, #f3b7d5, #EC6695);
  color: #fed;
  border: 1px #999;
  box-sizing: border-box;
}

.upload-button:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3b7d5), to(#EC6695));
  background: -webkit-linear-gradient(top, #EC6695, #f3b7d5);
  background: -moz-linear-gradient(top, #EC6695, #f3b7d5);
  background: -ms-linear-gradient(top, #EC6695, #f3b7d5);
  background: -o-linear-gradient(top, #EC6695, #f3b7d5);
}

#profile-avatar-wrapper:hover .upload-button {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0ms linear,opacity 100ms ease 10ms;
  -moz-transition: visibility 0ms linear,opacity 100ms ease 10ms;
  transition: visibility 0ms linear,opacity 100ms ease 10ms;
}

.profile-tab-container {
  background-color: transparent;
  padding: 10px;
}

.profile-tab-container::after{
  content:"";
  display:table;
  clear:both;
}

.profile-tab {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 0;
  cursor: pointer;
}

.profile-tab.active{
  color: #f3d;
  border-bottom: 3px solid #f3d;
}

#mini-details-username {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #402
}

.profile-info-content {
  margin-top: 20px;
  float:left;
  width: 65%;
  background: none;
  -webkit-transition: opacity 300ms ease,-webkit-transform 300ms ease;
  -moz-transition: opacity 300ms ease,-moz-transform 300ms ease;
  transition: opacity 300ms ease,transform 300ms ease;
}

.profile-info-content > * {
  -webkit-transition: opacity 300ms ease,-webkit-transform 300ms ease;
  -moz-transition: opacity 300ms ease,-moz-transform 300ms ease;
  transition: opacity 300ms ease,transform 300ms ease;
}

#form-close{
  float: right;
  margin-right: 20px;
}
