// Place all the styles related to the Api::Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
  height: 280px;
}

.profile-pane * {
  background: #fafbfd;
  list-style: none;
}
.profile-header > * {
  float: left;
}

#profile-header-info{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#profile-header-avatar {
  border-radius: 50%;
  margin: 20px;
}
.profile-pane {
  padding: 20px;
  width: 940px;
  display: block;
  margin: auto;
}

.profile-pane::after{
  content:"";
  display:table;
  clear:both;
}


.profile-tab-container {
  background-color: transparent;
  padding: 10px;
}

.profile-tab-container::after{
  content:"";
  display:table;
  clear:both;
}

.profile-tab {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 0;
  cursor: pointer;
}

.profile-tab.active{
  color: #f3d;
  border-bottom: 3px solid #f3d;
}

#mini-details-username {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #402
}

.profile-info-content {
  margin-top: 20px;
  float:left;
  width: 65%;
  background: none;
  -webkit-transition: opacity 300ms ease,-webkit-transform 300ms ease;
  -moz-transition: opacity 300ms ease,-moz-transform 300ms ease;
  transition: opacity 300ms ease,transform 300ms ease;
}

.profile-info-content > * {
  -webkit-transition: opacity 300ms ease,-webkit-transform 300ms ease;
  -moz-transition: opacity 300ms ease,-moz-transform 300ms ease;
  transition: opacity 300ms ease,transform 300ms ease;
}

#form-close{
  float: right;
  margin-right: 20px;
}
