// Place all the styles related to the Api::Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
  height: 280px;
}

.profile-pane * {
  background: #fafbfd;
  list-style: none;
}
.profile-header > * {
  float: left;
}

#profile-header-info{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#profile-header-avatar {
  border-radius: 50%;
  margin: 20px;
}
.profile-pane {
  padding: 20px;
  width: 940px;
  display: block;
  margin: auto;
}

.profile-pane::after{
  content:"";
  display:table;
  clear:both;
}

.profile-details {
  float:right;
  margin-top: 20px;
  width: 30%;
  padding: 10px;
}

.details-top{
  margin: 10px;
}

.detail-item{
  margin: 10px;
}
.profile-tab-container {
  background-color: transparent;
  padding: 10px;
}

.profile-tab-container::after{
  content:"";
  display:table;
  clear:both;
}

.profile-tab {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 0;
  cursor: pointer;
}

.profile-tab.active{
  color: #f3d;
  border-bottom: 3px solid #f3d;
}


.profile-info-content {
  margin-top: 20px;
  float:left;
  width: 65%
}

#form-close{
  float: right;
  margin-right: 20px;
}
