// Place all the styles related to the Api::Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions-box{
  background: none;
}

.inner-question-box{
  padding: 20px;
}

#no-questions-message {
  background: none;
  margin: 30px;
}

#no-questions-message *{
  background: none;
  font-size: 20px;
  color: #402;
}

.question-text {
  font-size: 18px;
  color: #402;
  line-height: 1.5;
  margin-bottom: 20px;
}

.question-button{
  font: 14px 'OpenSans', sans-serif;
  line-height: normal;
  padding: 8px;
  text-decoration: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3260c7), to(#7260c7));
  background: -webkit-linear-gradient(top, #7260c7, #3260c7);
  background: -moz-linear-gradient(top, #7260c7, #3260c7);
  background: -ms-linear-gradient(top, #7260c7, #3260c7);
  background: -o-linear-gradient(top, #7260c7, #3260c7);
  color: #fed;
  border: 1px #999;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 20px;
}

.option-radio{
  margin: 8px;
}

.option-radio label{
  margin: 5px;
}

.question-button:hover{
  text-decoration: none;
  color: #402;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7260c7), to(#3260c7));
  background: -webkit-linear-gradient(top, #3260c7, #7260c7);
  background: -moz-linear-gradient(top, #3260c7, #7260c7);
  background: -ms-linear-gradient(top, #3260c7, #7260c7);
  background: -o-linear-gradient(top, #3260c7, #7260c7);
}

.question-button:focus{
  color: #fed;
  text-decoration: none;
}
