// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form label {
  line-height: 2;
  margin-right: 10px;
  font-size: 16px;
  position: relative;
}

.login-form-container > form {
  font-size: 12px;
}

form h3 {
  font-size: 18px;
  line-height: 2;
}

.login-form-button{
  font: 14px OpenSans;
  line-height: normal;
  padding: 4px;
  text-decoration: none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EC6695), to(#f3b7d5));
  background: -webkit-linear-gradient(top, #f3b7d5, #EC6695);
  background: -moz-linear-gradient(top, #f3b7d5, #EC6695);
  background: -ms-linear-gradient(top, #f3b7d5, #EC6695);
  background: -o-linear-gradient(top, #f3b7d5, #EC6695);
  color: #fed;
  border: 1px #999;
  box-sizing: border-box;
}

.login-form-button:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3b7d5), to(#EC6695));
  background: -webkit-linear-gradient(top, #EC6695, #f3b7d5);
  background: -moz-linear-gradient(top, #EC6695, #f3b7d5);
  background: -ms-linear-gradient(top, #EC6695, #f3b7d5);
  background: -o-linear-gradient(top, #EC6695, #f3b7d5);
}

#login-submit{
  float:left;
}

#guest-login{
  float:right;
}

#button-box{
  margin-top: 10px;
}

#button-box::after{

}
