// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
  margin: auto;
  padding: 20px;
  display:flex;
  justify-content: center;
  width: 500px;
}

.signup-form, .login-form {
  margin-top: 10px;
}
